* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
i,
svg {
  pointer-events: none;
}
.squencer {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292929;
}
.squencer>h1 {
  margin-top: 1rem;
  color: #e4e4e4;
  font-weight: bold;
  font-size: 3rem;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  height: 5rem;
  width: 5em;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background-color: #bb86fc;
}
.snare-pad {
  background-color: #03dcc8;
}
.hihat-pad {
  background-color: #e4e4e4;
}
.hihat-track,
.kick-track,
.snare-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 5rem;
}
.hihat,
.kick,
.snare {
  display: flex;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0 2rem;
  color: #fff;
}
.controls button {
  padding: 1rem;
  border: none;
  background-color: #ea80fc;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s ease all;
}
.pad {
  transition: 0.5s ease all;
}
.kick-pad {
  background-color: #bb86fc;
}
.snare-pad {
  background-color: #03dcc8;
}
.hihat-pad {
  background-color: #e4e4e4;
}

.kick-pad.active {
  background-color: #7b31d6;
}
.snare-pad.active {
  background-color: #009485;
}
.hihat-pad.active {
  background-color: #929292;
}

.play {
  padding: 1rem 2rem;
  background-color: #ea80fc;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  margin-top: 3rem;
}
select {
  padding: 1rem;
  font-size: 1rem;
}
.mute.active {
  background-color: #a000bd;
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 1rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background-color: #929292;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  text-align: center;
  color: #7b31d6;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
